# Logs & other files
/*.csv
/backend/logs/
/database/dump/
/data/

*.tmp
*~

# Node
npm-debug.log
node_modules/

# Java
.idea/
*.iml

.project

/backend/bin/
.settings/
.classpath
target/
build/
backend/opentelemetry-javaagent.jar

# VS Code
.vscode/

repo/
conf/

/code.zip
/j-schedule
/h2-2013-05-25
/hsqldb-2.3.0
/jetty-distribution-9.0.4.v20130625
/j-schedule.zip
/features.zip
/h2-2013-05-25.zip
/hsqldb-2.3.0.zip
/jetty-distribution-9.0.4.v20130625.zip
