version: "3.9"  # optional since v1.27.0
services:
  frontend-svc:
    build: ./frontend/
    restart: always
    environment:
      # - NODE_ENV=production
      - NODE_ENV=development
      - DBHOST=database-svc
      - PORT=3001
    ports:
      - "3001:3001"
    links:
      - database-svc
  backend-svc:
    build: ./backend/
    restart: always
    # environment:
    #   - DELAY=120
    #   - GRACE=5
    volumes:
      - './data/backend/:/usr/local/sparqles/data.dir'
    links:
      - database-svc
  database-svc:
    build: ./database/
    restart: always
    volumes:
      - './data/db/:/data/db'
    # ports:
    #   # for debug
    #   - "27017:27017"
